<ion-view view-title="Add">
  <ion-content>
    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          New smart object
        </div>
        <select ng-model="selection">
          <option>Door</option>
          <option selected>Oven</option>
          <option>Drawer</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Room
        </div>
        <select ng-model="subselection">
          <option>Kitchen</option>
          <option selected>Bedroom</option>
          <option>Living room</option>
        </select>
      </label>
    </div>

<a class="button button-block button-balanced" href="#/app/objects" ng-click="add(selection, subselection)">Confirm</a>
<a class="button button-block button-assertive" href="#/app/objects">Cancel</a>

  </ion-content>
</ion-view>
