<ion-view view-title="Object">
  <ion-content>
    <ion-list>
      <ion-toggle checked="{{controls[0]}}" ng-model="status0" ng-change="activate(0,status0)" ng-disabled="status1">
        <img src="img/Power.png" width="40"/>
          Power
      </ion-toggle>
      <ion-toggle checked="{{controls[1]}}" ng-model="status1" ng-change="activate(1,status1)" ng-disabled="status0">
        <img src="img/Child protection.png" width="40"/>
          Child protection
      </ion-toggle>
      <ion-toggle checked="{{controls[2]}}" ng-model="status2" ng-change="activate(2,status2)">
        <img src="img/Elder protection.png" width="40"/>
          Elder protection
      </ion-toggle>
      <!-- <ion-toggle ng-repeat="control in controls" ng-model="status" ng-change="activate({{control.id}},status)">
        <img src="img/{{control.title}}.png" width="40"/>
        {{control.title}}
      </ion-toggle> -->
    </ion-list>
  </ion-content>
</ion-view>
