<ion-view view-title="Objects">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="object in objects" class="item-thumbnail-left" ng-click="getControls({{object.id}})" href="#/app/objects/{{object.id}}">
        <img src="img/{{object.title}}.png"/>
        {{object.title}}
        <a>
          {{object.subtitle}}
        </a>
      </ion-item>
      <a class="button button-block button-balanced" href="#/app/add">Add</a>
      <a class="button button-block button-assertive" href="#/app/remove">Remove</a>
    </ion-list>
  </ion-content>
</ion-view>
