<ion-view view-title="Remove">
  <a class="bar bar-subheader">
    <h2 class="title">Select what you want to delete</h2>
  </a>
  <ion-content class="has-header has-subheader">
    <ion-list>
      <ion-item ng-repeat="object in objects" class="item-thumbnail-left" ng-click="remove({{object}})" href="#/app/objects">
        <img src="img/{{object.title}}.png"/>
        {{object.title}}
        <a>
          {{object.subtitle}}
        </a>
      </ion-item>
      <a class="button button-block button-assertive" href="#/app/objects">Cancel</a>
    </ion-list>
  </ion-content>
</ion-view>
